$font-family-base: "Roboto", sans-serif;
$font-size-base: 1rem;

$primary: #dbb635;
$dark: #222222;

$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 5 !default;

@import "../../node_modules/bootstrap/scss/bootstrap";

/* ===============================
   Dark Mode
=============================== */
$body-bg-dark: #212121;

/* ===============================
   Additional Utility Classes
=============================== */

// .text-gray- and .bg-gray- classes for all gray shades
@each $name, $color in $grays {
  .text-gray-#{$name} {
    color: $color !important;
  }

  .bg-gray-#{$name} {
    background-color: $color !important;
  }
}

// col-lg-1of5 class for 5 equal columns layout
.col-lg-1of5 {
  flex: 0 0 20%;
  max-width: 20%;
}

// cursor-pointer class
.cursor-pointer {
  cursor: pointer;
}

// text line clamp 1-5 using scss mixin
@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
}

@for $i from 1 through 5 {
  .line-clamp-#{$i} {
    @include line-clamp($i);
  }
}

// zoom effect on image hover
.img-hover-zoom {
  img {
    transition: transform 200ms ease, transform-origin 0ms;
    will-change: transform;
  }

  &:hover img {
    transform: scale(1.25);
  }
}

// hover text color variants using scss mixin
@mixin hover-text-color($color) {
  &:hover {
    color: $color !important;
  }
}

@mixin hover-bg-color($color) {
  &:hover {
    background-color: $color !important;
  }
}

// apply hover text color variants
.hover-text-primary {
  @include hover-text-color($primary);
}

.hover-text-dark {
  @include hover-text-color($dark);
}

.hover-text-white {
  @include hover-text-color($white);
}

.hover-bg-primary {
  @include hover-bg-color($primary);
}

.hover-bg-dark {
  @include hover-bg-color($dark);
}

.active-text-white {
  &.active {
    color: $white !important;
  }
}

.active-text-primary {
  &.active {
    color: $primary !important;
  }
}

// hover up effect
.hover-up {
  transition: transform 200ms ease;
  will-change: transform;

  &:hover {
    transform: translateY(-5px);
  }
}

.text-justify {
  text-align: justify;
}

@import "custom.scss";
